@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #252222;
}
.light body {
    --background: #F2FFFC; /* blanc */
    --foreground: #141313; /* noir */
}

.light nav{
  background-color: #f9fafb;
}

.light nav a:hover{
  background-color : #ded6d6;
}

.dark #mobile-menu-button{
  color: #ffffff;
}

.dark button.bourse{
  color: #000000;
}


.dark div.myclass{
  background-color: #2c4255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #3038524a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Style pour le jeu de la vie */
.cell{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /*padding: 1rem;*/
  border: 1px solid #999;
  outline: 0;
  border-radius: 0;
  font-size: 1rem;
  font-weight: bold;
}


.alive {
  background-color: #fff; /* Blanc pour les cellules vivantes */
}

.dead {
  background-color: #000; /* Noir pour les cellules mortes */
}

#logo-link:hover {
  background-color: transparent;
}