{% extends "base.html" %}

{% block title %}Home 🏡{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="row" style="margin-top: 2%;">
        <div class="border-panel-left">
            <div class="card my-3">
                <h5 class="card-header text-center">Ajout</h5>
                <div class="card-body" style='padding:0.5rem;'>               
                    <ul class="list-unstyled mb-0">
                      <li>
                          <div class="d-block">
                              <a class="add-event" href="">
                                  📣 Add event
                              </a>
                          </div>                      
                      </li>
              
                    </ul>
                  </div>
                </div>
        </div>
        <div class="border-panel-center">
          <div class="panel-content">
            <h3 class="border-bottom border-gray pb-2 mb-0">Inspirations Arcachon 🛰️</h3>
                    <div class="pt-3 big">
                        <a class="no-decoration media" href="">
                            <img class="mr-2 rounded myImg" src="" alt="">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">Jour 1 </strong>
                                Damasio x Suri - alall aal la 
                                <i>3 jours</i>
                            </p>
                            <span>
                                👻
                            </span>

                        </a>
                    </div>
            <br>

          </div>

        </div>
        <div class="border-panel-left">
            <div class="card my-3">
              <h5 class="card-header text-center">Routes</h5>
              <div class="card-body" style='padding:0.5rem;'>
                  <ul class="list-unstyled mb-0">
                    <li>
                        <div class="d-block">
                            <a href="">
                                🎉 P'tit récap
                            </a>
                        </div>                      
                    </li>
                    <li>
                        <div class="d-block">
                            <a href="">
                                🏝️ P'tite gallerie
                            </a>
                        </div>                       
                    </li>
                    <li>
                        <div class="d-block">
                            <a href="">
                                🗺️ P'tite map
                            </a>
                        </div>                       
                    </li>
                    <li>
                        <div class="d-block">
                            <a href="">
                                📆 P'tit calendrier
                            </a>
                        </div>                       
                    </li>
                    <li>
                        <div class="d-block">
                            <a href="">
                                👨‍💻 P'tit profil
                            </a>
                        </div>                       
                    </li>
                    <li>
                        <div class="d-block">
                            <a href="">
                                🎲 P'tit CATAN
                            </a>
                        </div>                       
                    </li>
                    <li>
                        <div class="d-block">
                            <a href="">
                                🕺 P'tite radio
                            </a>
                        </div>                       
                    </li>
                     <li>
                        <div class="d-block">
                            <a href="">
                                📥 P'tit convertor
                            </a>
                        </div>                       
                    </li>
                  </ul>
                </div>
              </div>
              
            </div>
        </div>
    </div>
      


{% endblock %}
